/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.04.2017, 22:02:35
    Author     : pavel
*/

/*@font-face {
    font-family: "roboto";
    src: url("../fonts/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack.eot?#iefix") format("embedded-opentype"),
         url("../fonts/RalewayBlack.woff") format("woff"),
         url("../fonts/roboto.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}*/
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-BoldCondensed.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-BoldCondensedItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-CondensedItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Bookman Old Style";
    src: url("../fonts/BOOKOS.TTF") format("truetype");
    font-weight: 400;
    font-style: normal;
}
* {
    font-family: roboto;
}
.description {
    font-family: Bookman Old Style;
}
.block.callback table input:not([type=submit]), .block.callback table textarea {
    font-family: Bookman Old Style;
}