/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.03.2017, 20:42:32
    Author     : pavel
*/

* {
padding: 0;
margin: 0;
}
html {
height: 100%;
}
body {
min-height: 100%;
height: 100%;
}
a img {
border: none;
}
.right {
float: right;
}
.left {
float: left;
}
.clear {
clear: both;
}
.bold {
font-weight: bold;
}
.rtl {
    direction: rtl;
}
.w50 {
    width: 50%;
}
.w25 {
    width: 25%;
}
.table {
    display: table;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    vertical-align: middle;
}
.button, input[type=submit] {
    padding: 10px 50px 10px 30px;
    background-color: black;
    background-image: url('../img/icons/go.png');
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
    background-size: 18px;
    color: white;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
}
.person, .event, .mail, .phone {
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    background-size: 20px;
}
.person { background-image: url('../img/icons/person.png'); }
.event  { background-image: url('../img/icons/person.png'); }
.mail   { background-image: url('../img/icons/mail.png'); }
.phone  { background-image: url('../img/icons/phone.png'); }
.edit   { 
    background-repeat: no-repeat;
    background-position-x: 97.5%;
    background-position-y: 8px;
    background-size: 20px;
    background-image: url('../img/icons/edit.png'); 
}

/*.wrapper {
height: auto !important;
min-height:100%;
height: 100%;
width: 1280px;
margin: auto;
background: gray;
}
.zagl {
height: 25px;
clear: both;
}
.foot {
width: 1000px;
height: 25px;
margin: -25px auto 0;
background: red;
}*/
.menu-wrapper {
background: #1a1a1a;
width: 100%;
position: fixed;
z-index: 1000;
top: 0;
left: 0;
right: 0;
}
.menu-wrapper1 {
width: 1280px;
height: 20px;
margin: 0 auto;
text-align: center;
padding: 50px 0;
}
.menu-wrapper1 .fa-times, .menu-wrapper1 .fa-bars {
    display: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px; left: 10px;
}
.logo {
float: left;
margin-top: -12px;
}
.menu-phone {
float: right;
color: white;
letter-spacing: 2px;
font-size: 130%;
}
.menu {
    display: inline-block;
}
.menu li {
    display: inline-block;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}
.menu li a:hover {
    text-decoration: underline;
}

.block {
    margin: 0 auto;
}
.block h1 {
    text-transform: uppercase;
    font-weight: normal;
    color: #1a1a1a;
    letter-spacing: 2px;
    font-size: 120%;
    padding: 7vw 0 40px 0 ;
    text-align: center;
}
.block h1.white {
    color: white;
}
.block h1:after {
    display: block;
    content: '_';
    font-size: 300%;
}
.block.block-table .td.w50 {
    width: 49%;
}
.block.block-table {
    border: 0;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}
.block.block-table td {
    border: 0;
}
.block.block-table .block-img {
    padding-bottom: 100%;
    background: red;
    background-size: cover;
}
.block.block-table .block-img:after {
    content: '\00A0';
}
.block.block-table .w25.white {
    background: white;
    color: black;
}
.block.block-table .w25.black {
    background: black;
    color: white;
}
.block.block-table .w25 .number {
    font-size: 500%;
}
.block.block-table .w25 .number:after {
    display: block;
    content: '\25CF';
    font-size: 50%;
    padding: 10px 0;
}
.block.block-table .w25 .description {
    text-transform: uppercase;
    font-size: 120%;
    line-height: 150%;
    letter-spacing: 0.3em;
}

.block.block-table .w50 .title {
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
    padding: 0 25% 5%;
}
.block.block-table .w50 .title:after {
    content: '_';
    display: block;
    font-size: 300%;
}
.block.block-table .w50 .description {
    text-align: justify;
    padding: 0 25%;
    font-size: 120%;
}
.block#block1 {
    height: 100%;
    background-image: url('../img/block1.jpg');
    background-size: cover;
    background-position: center center;
}
.block#block2 .block-img#b21 {
    background-image: url('../img/b21.jpg');
}
.block#block2 .block-img#b22 {
    background-image: url('../img/b22.jpg');
}
.block#block2 .block-img#b23 {
    background-image: url('../img/b23.jpg');    
}
.block#block3 {
    background-image: url('../img/b3.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
}
.block#block3 h1 {
    color: white;
}
.block#block3 .slider-menu {
    width: 80%;
    margin: 5vw auto;
    border-collapse: separate;
    border-spacing: 5px;
}
.block#block3 .slider-menu div.td {
    cursor: pointer;
    background: black;
    text-align: center;
    padding: 0.8em 0;
}
.block#block3 .slider-menu div.td.active {
    border-bottom: 5px solid white;
}
.block#block3 .slider {
    width: 80%;
    margin: 0 auto;
}
.block#block3 .img {
    background-image: url('../img/b31.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height: 35.8vw;
}
.block#block3 .description {
    vertical-align: top;
    padding: 0 2vw;
    line-height: 2em;
}



.block#block5 {
    text-align: center;
}
.block#block5 .table {
    width: 75%;
    margin: 0 auto 6vw;
}
.block#block5 img {
    margin: 5px;
}
.block#block5 a.view {
    background-image: url('../img/icons/view.png');
}

.block#block6 {
    
}
.block#block6 .rtl * {
    direction: ltr;
}
.block#block6 .pink {
    background: #ffe9fa;
}
.block#block6 .gray {
    background: #1a1a1a;
    color: white;
}
.block#block6 .gray .button {
    background-color: white;
    color: #1a1a1a;
    background-image: url('../img/icons/go-black.png');
}
.block#block6 .peach {
    background: #ffe4dc;
}
.block#block6 .sand {
    background: #fff7d7;
}

.block#block6 .block-img#b61 {
    background: url('../img/b61.png');
}
.block#block6 .block-img#b62 {
    background: url('../img/b62.jpg');
}
.block#block6 .block-img#b63 {
    background: url('../img/b63.jpg');
}
.block#block6 .block-img#b64 {
    background: url('../img/b64.jpg');
}
.block#block6 .button {
    margin: 50px 0;
}



.block#block7 .slider  {
    position: relative;
    width: 96%;
    margin: 0 auto;
}
.block#block7 .slider .slick-prev, .block#block7 .slider .slick-next {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.block#block7 .slider .slick-prev:before, .block#block7 .slider .slick-next:before {
    content: '';
}
.block#block7 .slider .slick-prev {
    background-image: url('../img/arrow-left.png');
}
.block#block7 .slider .slick-next {
    background-image: url('../img/arrow-right.png');
}
.block#block7 .slider .slick-dots li button:before {
    font-size: 18px;
}
.block#block7 .slide-window {
    width: 100%;
    height: 40vw;
    overflow: hidden;
}
.block#block7 .slide {
    width: 23vw;
    /*height: 40vw;*/
    display: inline-block;
    padding: 2vw 2vw;
}
.block#block7 .slide .slide-img {
    width: 100%;
    padding-bottom: 56%;
    margin-bottom: 10%;
    background-size: cover;
    background-position: center center;
}
.block#block7 .slide .slide-img.b71 {
    background-image: url('../img/b71.png');
}
.block#block7 .slide .slide-img.b72 {
    background-image: url('../img/b72.png');
}
.block#block7 .slide .slide-img.b73 {
    background-image: url('../img/b73.png');
}

.block#block7 .slide .slide-h1 {
    text-transform: uppercase;
    font-size: 120%;
    margin: 1em 0;
}
.block#block7 .slide .slide-p {
    text-align: justify;
}


.block#block8 {
    padding-bottom: 7vw;
}
.block.callback table {
    width: 60%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
}
.block.callback table td:last-child {
    text-align: center;
}
.block.callback table input:not([type=submit]), .block.callback table textarea {
    padding: 10px 10px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 5px #666;
    width: calc(100% - 20px);
}
.block.callback table textarea {
    width: calc(100% - 20px);
    height: 5em;
}
.block#block9 {
    height: 36vw;    
    background-image: url('../img/b9.jpg');
    background-position: center center;
    background-size: cover;
    color: white;
}
.block#block9 .table {
    padding-top: 100px;
    height: 160px;
    margin: 0 auto;
}
.block#block9 .icons {
    padding-right: 30px;
    border-right: 5px solid white;
    width: 50%;
}
.block#block9 .icons a {
    display: inline-block;
    text-align: center;
    font-size: 26px;
    vertical-align: middle;
    width: 40px;
    height: 30px;
    padding: 5px 0;
    margin: 0 2px;
    background: white;
    border-radius: 50%;
    color: black;
}
.block#block9 .contacts {
    padding-left:30px;
}
.block#block9 .b9logo {
    margin: 5vw auto;
    width: 18vw;
    height: 7.935871743vw;
    background: url('../img/b9logo.png');
    background-size: cover;
    background-position: center center;
}
.block#block9 .foot-phone {
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.block#block9 a {
    color: white;
    text-decoration: none;
}
.block#block9 a:hover {
    text-decoration: underline;
}


@media (max-width: 1280px) {
.menu-wrapper1 {
    padding: 10px 0;
    height: auto;
    min-height: 20px;
    width: 100%;
}

.menu-wrapper1.close .fa-bars,
.menu-wrapper1:not(.close) .fa-times
{
    display: block;
}
.menu-wrapper1.close .menu, 
.menu-wrapper1.close .fa-times, 
.menu-wrapper1.close .logo,
.menu-wrapper1:not(.close) .menu-phone
{
    display: none;
}
.menu-wrapper1:not(close) .menu, .menu-wrapper1:not(close) .menu li {
    clear: both;
    display: block;
}
.menu-wrapper1:not(close) .menu {
    padding-top: 30px;
}
.menu-wrapper1:not(close) .menu li:not(:last-child):after {
    display: block;
    content: '\25CF';
    color: white;
    padding: 10px 0;
    /*content: '&#9679';*/
}
.menu-wrapper1:not(close) .logo {
    float: none;
    margin: -4 auto 0;
}
.menu-wrapper1.close .menu-phone {
    padding-right: 30px;
}
}