/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.03.2017, 20:42:32
    Author     : pavel
*/

* {
padding: 0;
margin: 0;
font-family: arial;
}
html {
height: 100%;
}
body {
min-height: 100%;
height: 100%;
}
a img {
border: none;
}
.right {
float: right;
}
.left {
float: left;
}
.clear {
clear: both;
}
.bold {
font-weight: bold;
}
.rtl {
    direction: rtl;
}
.w50 {
    width: 50%;
}
.w25 {
    width: 25%;
}
.table {
    display: table;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    vertical-align: middle;
}
.button, input[type=submit] {
    padding: 10px 30px;
    background: black;
    color: white;
    border-radius: 50px;
    display: inline-block;
}
.wrapper {
height: auto !important;
min-height:100%;
height: 100%;
width: 1000px;
margin: auto;
background: gray;
}
.zagl {
height: 25px;
clear: both;
}
.foot {
width: 1000px;
height: 25px;
margin: -25px auto 0;
background: red;
}
.menu-wrapper {
background: #1a1a1a;
width: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
}
.menu-wrapper1 {
width: 1000px;
height: 20px;
margin: 0 auto;
text-align: center;
padding: 30px 0;
}
.menu-wrapper1 .fa-times, .menu-wrapper1 .fa-bars {
    display: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px; left: 10px;
}
.logo {
float: left;
margin-top: -4px;
}
.menu-phone {
float: right;
color: white;
letter-spacing: 0.8px;
font-size: 90%;
}
.menu {
    display: inline-block;
}
.menu li {
    display: inline-block;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}
.menu li a:hover {
    text-decoration: underline;
}

.block {
    margin: 0 auto;
}
.block h1 {
    text-transform: uppercase;
    color: black;
    font-size: 120%;
    padding-bottom: 60px;
    text-align: center;
}
.block h1.white {
    color: white;
}
.block h1:after {
    display: block;
    content: '_';
    font-size: 300%;
}
.block.block-table .td.w50 {
    width: 49%;
}
.block.block-table {
    border: 0;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}
.block.block-table td {
    border: 0;
}
.block.block-table .block-img {
    padding-bottom: 100%;
    background: red;
    background-size: cover;
}
.block.block-table .block-img:after {
    content: '\00A0';
}
.block.block-table .w25.white {
    background: white;
    color: black;
}
.block.block-table .w25.black {
    background: black;
    color: white;
}
.block.block-table .w25 .number {
    font-size: 500%;
}
.block.block-table .w25 .number:after {
    display: block;
    content: '\25CF';
    font-size: 50%;
    padding: 10px 0;
}
.block.block-table .w25 .description {
    text-transform: uppercase;
    font-size: 120%;
    line-height: 150%;
    letter-spacing: 0.3em;
}

.block.block-table .w50 .title {
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
    padding: 0 25% 5%;
}
.block.block-table .w50 .title:after {
    content: '_';
    display: block;
    font-size: 300%;
}
.block.block-table .w50 .description {
    text-align: justify;
    padding: 0 25%;
    font-size: 120%;
}
.block#block1 {
    height: 100%;
    background-image: url('../img/block1.jpg');
    background-size: cover;
    background-position: center center;
}
.block#block2 .block-img#b21 {
    background-image: url('../img/b21.jpg');
}
.block#block2 .block-img#b22 {
    background-image: url('../img/b22.jpg');
}
.block#block2 .block-img#b23 {
    background-image: url('../img/b23.jpg');    
}

.block#block6 {
    
}
.block#block6 .rtl * {
    direction: ltr;
}
.block#block6 .block-img#b61 {
    background: url('../img/b61.png');
}
.block#block6 .block-img#b62 {
    background: url('../img/b62.jpg');
}
.block#block6 .block-img#b63 {
    background: url('../img/b63.jpg');
}
.block#block6 .block-img#b64 {
    background: url('../img/b64.jpg');
}
.block#block6 .button {
    margin: 50px 0;
}


.block#block7 .slider {
    position: relative;
}
.block#block7 .slider .prev-slide {
}
.block#block7 .slider .next-slide {
}
.block#block7 .slide-window {
    width: 100vw;
    height: 40vw;
    overflow: hidden;
}
.block#block7 .slide-window .slide {
    width: 23vw;
    height: 40vw;
    display: inline-block;
    padding: 0 2vw;
}
.block#block7 .slide-window .slide .slide-img {
    width: 100%;
    padding-bottom: 56%;
    margin-bottom: 10%;
}
.block#block7 .slide-window .slide .slide-img.b71 {
    background-image: url('../img/b71.png');
}
.block#block7 .slide-window .slide .slide-img.b72 {
    background-image: url('../img/b72.png');
}
.block#block7 .slide-window .slide .slide-img.b73 {
    background-image: url('../img/b73.png');
}

.block#block7 .slide-window .slide .slide-h1 {
    text-transform: uppercase;
    font-size: 120%;
    margin: 1em 0;
}
.block#block7 .slide-window .slide .slide-p {
    text-align: justify;
}






.block#block8 {
    
}
.block.callback {
    padding: 10vw;
}
.block.callback table {
    width: 60%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
}
.block.callback table td:last-child {
    text-align: center;
}
.block.callback table input:not([type=submit]), .block.callback table textarea {
    padding: 10px 10px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 5px #666;
    width: calc(100% - 20px);
}
.block.callback table textarea {
    width: calc(100% - 20px);
    height: 5em;
}
.block#block9 {
    height: 36vw;    
    background-image: url('../img/b9.jpg');
    background-position: center center;
    background-size: cover;
    color: white;
}
.block#block9 .table {
    padding-top: 100px;
    height: 160px;
    margin: 0 auto;
}
.block#block9 .icons {
    padding-right: 30px;
    border-right: 5px solid white;
    width: 50%;
}
.block#block9 .icons a {
    display: inline-block;
    text-align: center;
    font-size: 26px;
    vertical-align: middle;
    width: 40px;
    height: 30px;
    padding: 5px 0;
    margin: 0 2px;
    background: white;
    border-radius: 50%;
    color: black;
}
.block#block9 .contacts {
    padding-left:30px;
}
.block#block9 .b9logo {
    margin: 5vw auto;
    width: 18vw;
    height: 7.935871743vw;
    background: url('../img/b9logo.png');
    background-size: cover;
    background-position: center center;
}



@media (max-width: 960px) {
.menu-wrapper1 {
    padding: 10px 0;
    height: auto;
    min-height: 20px;
    width: 100%;
}

.menu-wrapper1.close .fa-bars,
.menu-wrapper1:not(.close) .fa-times
{
    display: block;
}
.menu-wrapper1.close .menu, 
.menu-wrapper1.close .fa-times, 
.menu-wrapper1.close .logo,
.menu-wrapper1:not(.close) .menu-phone
{
    display: none;
}
.menu-wrapper1:not(close) .menu, .menu-wrapper1:not(close) .menu li {
    clear: both;
    display: block;
}
.menu-wrapper1:not(close) .menu {
    padding-top: 30px;
}
.menu-wrapper1:not(close) .menu li:not(:last-child):after {
    display: block;
    content: '\25CF';
    color: white;
    padding: 10px 0;
    /*content: '&#9679';*/
}
.menu-wrapper1:not(close) .logo {
    float: none;
    margin: -4 auto 0;
}
.menu-wrapper1.close .menu-phone {
    padding-right: 30px;
}
}